.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.level_1_bg {
  color: #2f54eb;
  font-weight: bold;
  border-radius: 10px;
}

.level_1_bg:hover {
  border: 4px solid #2f54eb;
}
.level_2_bg {
  color: #52c41a;
  border-radius: 10px;
  font-weight: bold;
}
.level_2_bg:hover {
  border: 4px solid #52c41a;
}
.level_3_bg {
  color: #cf1322;
  border-radius: 10px;
  font-weight: bold;
}
.level_3_bg:hover {
  border: 4px solid #cf1322;
}
.main_logo {
  margin-left: 20px;
  width: 50px;
  animation: rotation 10s infinite linear;
}
.main_logo_heading {
  margin-left: 30px;
  font-size: 28px;
  color: white;
}
.ant-card-body {
  padding: 10px;
  padding-right: 20px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(359deg);
  }
  60% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.update_time {
  color: #d46b08;
}
.cases{
  font-size: 18px;
}
.country_list {
  height: calc(100vh - 80px);
  overflow: scroll;
}
