.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.level_1_bg {
  /* background-image: url("./imgs/map6.png");
  background-size: 250px;
  background-repeat: no-repeat; */
  color: #2f54eb;
}
.level_2_bg {
  /* background-image: url("./imgs/map2.png");
  background-size: 250px; */
  color: #52c41a;
}
.level_3_bg {
  /* background-image: url("./imgs/map2.png");
  background-size: 250px; */
  color: #cf1322;
}
