.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.level_1_bg {
  color: #2f54eb;
}
.level_1_card:hover {
  box-shadow: 0 0 40px #2f54eb;
}
.level_1_card {
  font-weight: bold;
  border-radius: 10px;
}
.level_2_bg {
  color: #52c41a;
}
.level_2_card {
  border-radius: 10px;
  font-weight: bold;
}
.level_2_card:hover {
  box-shadow: 0 0 40px #52c41a;
}
.level_3_bg {
  color: #cf1322;
}
.level_3_card {
  border-radius: 10px;
  font-weight: bold;
}
.level_3_card:hover {
  box-shadow: 0 0 40px #cf1322;
}
.main_logo {
  margin-left: 20px;
  width: 50px;
  animation: rotation 10s infinite linear;
}
.main_logo_heading {
  margin-left: 30px;
  font-size: 28px;
  color: white;
}
.ant-card-body {
  padding: 10px;
  padding-right: 20px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(359deg);
  }
  60% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.update_time {
  color: #d46b08;
}
.cases {
  font-size: 18px;
}
.country_list {
  height: calc(100vh - 50px);
  overflow: scroll;
}
.total_cases:hover {
  background-color: rgba(245, 245, 245, 0.89);
  box-shadow: 0 0 40px #2f54eb;
  color: white !important;
}
.total_deaths:hover {
  background-color: rgba(245, 245, 245, 0.89);
  box-shadow: 0 0 40px #cf1322;
  color: white !important;
}
.total_recovered:hover {
  background-color: rgba(245, 245, 245, 0.89);
  box-shadow: 0 0 40px #52c41a;
  color: white !important;
}
.mainModal {
  margin: 20px;
}
.loader {
  height: 100vh;
}
.loader .main_logo {
  position: relative;
  top: 35vh;
  left: 40vw;
  width: 10vw;
}

#chartdiv2 {
  width: 100%;
  height: 400px;
}

.rate_heading {
  color: white !important;
  font-weight: bolder;
}
.recovery_rate {
  color: #d46b08;
  font-weight: bolder;
}
.death_rate {
  color: #cf1322;
  font-weight: bolder;
}
.population_rate {
  color: #52c41a;
  font-weight: bolder;
}
.country_name {
  font-size: 26px;
  font-weight: bolder;
}
.data_maintenance {
  margin: 30px;
  width: 40vw;
}
